@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@300;500;800&family=Monoton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
:root {
  --mainFont: 'Lisu Bosa', serif;
  --headingFont: 'Monoton', cursive;
  --pink: #e4024a;
  --purple: rgb(67, 41, 45);
  --borderRadius: 10px;
  --border: 4px solid var(--pink);
}
/* Fonts */
h1{
  font-family: var(--headingFont);
  font-size: 3em;
  color: #ae2752;
}
h2, h3, h4, h5, h6{
  font-family: var(--mainFont);
}
/* Buttons */
button{
  border: var(--border);
  border-radius: var(--borderRadius);
  background-color: var(--pink);
  color: white;
  margin: 0.5em;
  width: 8em;
  height: 4em;
}
button:hover{
  background-color: white;
  color: var(--pink);
  border-radius: 50em;
}

body{
  background-image: url('./images/jason-leung-6rGJQry0_WI-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
/* Navbar */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}
nav input{
  width: 17em;
  height: 4em;
  padding: 1em;
  border: var(--border);
  border-radius: var(--borderRadius);
}
/* Search Results */
.searchResultsCont{
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  gap: 1em;
  margin: 1em;
}
.eachResult{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5em;
  justify-content: space-around;
  border: var(--border);
  border-radius: var(--borderRadius);
  background-color: hsla(34, 47%, 87%, 0.5);
  color: var(--purple);
}

/* Main Content */
.mainContent{
  display: flex;
  flex-direction:row;
  margin: 0.5em;
  height: 55vh;
}

/* Playlist Container */
.playlistCont, .myPlaylist{
  overflow-x: scroll;
}
.playlistResults {
  overflow-x: scroll;
}
.eachSong{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em;
  border: var(--border);
  border-radius: var(--borderRadius);
  background-color: rgba(240, 239, 238, 0.5);
}
.songLeft{
  display: flex;
  gap: 1em;
  align-items: center;
  color: var(--purple);
}
/* My Playlist */
.myPlaylist{
  width: 100%;
}


/* Main Content */
@media screen and (max-width: 700px){
  nav{
    text-align: center;
    flex-direction: column;
  }
  .mainContent{
    flex-direction: column;
  }
}