@import url('https://fonts.googleapis.com/css2?family=Lisu+Bosa:wght@300;500;800&family=Monoton&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}
/* Fonts */
:root{
  --mainFont: 'Lisu Bosa', serif;
  --headerFont: 'Monoton', serif;
  --black: #181713;
  --darkBrown: #E43D12;
  --medBrown: #FF7C15;
  --lightBrown: #FF933D;
  --lightestBrown: #FFAE6E;
  --yellow: #FFB400;
  --lightGrey: #EBE9E1;
  --white: #F6F6F6;
  --lightCream:#F6F5F2;
  --medCream: #F3F2EE;
  --darkCream: #F0EFE8;
  --lightestPink: #F6A9BE;
  --lightPink: #F38CA9;
  --medPink: #F17496;
  --darkPink: #ED4672;
  --pink: #e4024a;
  --purple: rgb(67, 41, 45);
  --borderRadius: 10px;
  --border:  4px solid var(--pink);
  --boxShadow: 12px 12px 19px 7px var(--lightGrey);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--lightCream);
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  font-family: var(--mainFont);
}
h1{
  font-size: 3.815rem;
  font-family: var(--headerFont);
  font-weight: 400;
  color: var(--pink);
}
.discFont{
  font-family: var(--headerFont);
  color: var(--pink);
}
h2{
  font-size: 3.052rem;
  font-weight: 400;
  text-transform: capitalize;
}
h3{
  font-size: 2.441rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
h4{
  font-size: 1.953rem;  
  font-weight: 300;
}
h5,  label{
  font-size: 1.563rem;
}
h6, li, p{
  font-size: 1.25rem;
}
a{
  text-decoration: none;
  font-size: 1rem;
}
button, .button{
  background-color: var(--darkPink);
  color: var(--white);
  padding: 1em 2em;
  border-radius: var(--borderRadius);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  max-width: 150px;
  min-width: 150px;
  border: 2px solid var(--lightestPink);
}
button:hover, .button:hover{
  background-color: var(--lightBrown);
  color: var(--darkBrown);

}
body{
  background-image: url('./images/jason-leung-6rGJQry0_WI-unsplash.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}
.middle{
  display: flex;
  border: 5px solid purple;
}

/* Main Content */
@media screen and (max-width: 700px){
  .mainContent{
    flex-direction: column;
  }
  .middle{
    flex-direction: column;
  }
}

/* SMALLEST SCREENS */
@media screen and (width <= 600px){
  body{
      font-size: 16px;
      overflow-x: hidden;
    }
    /* 1.067 Minor Second with a 16px body */
    h1{
      font-size: 1.776rem;
    }
    h2{
      font-size: 1.583rem;
    }
    h3{
      font-size: 1.396rem;
    }
    h4{
      font-size: 1.215rem;
    }
    h5{
      font-size: 1.138rem;
    }
    h6{
      font-size: 1.067rem;
    }
    p{
      font-size: 1rem;
    }
    button{
      font-size: 0.6rem;
    }
}